.container {
  width: 80vw;
  max-width: 400px;
  height: 90vh;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.input {
  outline-width: 0;
  margin-top: 15px;
  height: 24px;
  width: 80%;
  border: none;
  -webkit-appearance: none;
  /* text-align: center; */
  font-size: 12px;
  /* border-radius: 4px; */
  background: none;
  border-bottom: 1px solid gray;
  /* background-color: rgb(236, 236, 236); */
}


.formContainer {
  margin: 0 auto;
  /* background: lightgray; */
}

.submit {
  margin-top: 5px;
  border-radius: 50px;
  width: 220px;
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  background: #61B58F;
  color: white;
  font-size: 12px;
  font-weight: 500;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.carLogoContainer {

}

.carLogo {
  height: 100px;
  width: 150px;
  margin: 0 auto;
  margin-right: 15px;
}

.back {
  composes: submit;
  background: gray;
}

.submit:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  transform: scale(1.02);
}

.formInputContainer {
  margin: 0px auto;
  padding: 40px 0px;
  /* width: 100%; */
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 35%;
}

.formHeader {
  line-height: 0;
}

.inputDate {
  composes: input;
  text-align: center;
  /* width: 85%; */
}

input[type="date"]:not(.has-value):before{
  color: gray;
  content: attr(placeholder);
  font-family: sans-serif;
  margin-right: 10px;
}