.container {
  width: 80vw;
  max-width: 400px;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.input {
  margin-top: 4px;
  height: 24px;
  width: 80%;
  border: none;
  -webkit-appearance: none;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(236, 236, 236);
}

.inputDate {
  margin-top: 4px;
  height: 24px;
  width: 84%;
  /* border: 1px solid black; */
  -webkit-appearance: none;
  text-align: center;
  border-radius: 2px;
  background-color: rgb(236, 236, 236);
}
.dateLabel {
  font-size: smaller;
  text-align: left;
}
.inputDateWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  width: 80%;
  margin-top: 4px;
}

.submit {
  margin-top: 8px;
  border-radius: 2px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.submit:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  transform: scale(1.02);
}
